* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif, sans-serif;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), purple), url("../img/sunset-mountain-rok-romih.jpg");
}
body::-webkit-scrollbar {
  width: 0.2rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.wrap .sidenav {
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
}
.wrap .sidenav a {
  text-decoration: none;
  color: #fff;
}
.wrap .sidenav .nav-title {
  margin-top: 2rem;
}
.wrap .sidenav .nav-title h1 {
  font-size: 3rem;
  margin: 0.2rem 0;
  text-transform: uppercase;
}
.wrap .sidenav ul {
  display: flex;
  flex-direction: row;
}
.wrap .sidenav ul li {
  list-style: none;
  padding: 16px;
}
.wrap .sidenav ul a {
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.wrap .sidenav ul a:hover {
  filter: grayscale(0%) opacity(1);
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #fff;
  padding: 10px;
  border-radius: 20px;
}
.wrap .sidenav ul a i {
  margin-right: 5px;
}
.wrap .sidenav ul a .fa-address-card {
  color: lightblue;
}
.wrap .sidenav ul a .fa-square-pied-piper {
  color: pink;
}
.wrap .sidenav ul a .fa-code {
  color: lightblue;
}
.wrap .sidenav ul a .fa-graduation-cap {
  color: pink;
}
.wrap .sidenav ul a .fa-pager {
  color: lightblue;
}
.wrap .sidenav .socials {
  font-size: 25px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  word-spacing: 5px;
}
.wrap .sidenav .socials a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1px) and (max-width: 575px) {
  .wrap .sidenav {
    width: 100vw;
    height: 5rem;
    bottom: 0;
    top: auto;
  }
  .nav-title {
    display: none;
  }
  .nav-text {
    display: none;
  }
  .socials {
    display: none;
  }
  .wrap .page-content {
    width: 90vw;
    margin-left: 0;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .wrap .sidenav {
    width: 100vw;
    height: 5rem;
    bottom: 0;
    top: auto;
  }
  .nav-title {
    display: none;
  }
  .socials {
    display: none;
  }
  .wrap .page-content {
    width: 90vw;
    margin-left: 0;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrap .sidenav {
    width: 20vw;
    height: 100vh;
    opacity: 0.8;
  }
  .wrap .sidenav ul {
    flex-direction: column;
  }
  .wrap .page-content {
    width: 95vw;
    margin-left: 20vw;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wrap .sidenav {
    width: 20vw;
    height: 100vh;
    opacity: 0.8;
  }
  .wrap .sidenav ul {
    flex-direction: column;
  }
  .wrap .page-content {
    width: 80vw;
    margin-left: 20vw;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .wrap .sidenav {
    width: 20vw;
    height: 100vh;
    opacity: 0.8;
  }
  .wrap .sidenav ul {
    flex-direction: column;
  }
  .wrap .page-content {
    width: 80vw;
    margin-left: 20vw;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
#my-portfolio {
  height: auto;
  margin-bottom: 100px;
}
#my-portfolio .card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;
}
#my-portfolio .card-wrap .card {
  width: 15rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}
#my-portfolio .card-wrap .card:hover {
  transform: translateY(-20px);
}
#my-portfolio .card-wrap .card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
}
#my-portfolio .card-wrap .card .card-info {
  padding: 20px;
}
#my-portfolio .card-wrap .card .card-info h2 {
  margin-bottom: 10px;
}
#my-portfolio .card-wrap .card .card-info p {
  margin-bottom: 20px;
}
#my-portfolio .card-wrap .card .card-btn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: purple;
}

#contact-me {
  width: 100%;
  color: #fff;
  height: auto;
  padding-bottom: 20px;
}
#contact-me .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-me .form-container form {
  width: 90%;
  max-width: 600px;
}
#contact-me .form-container form .input-group {
  margin-bottom: 30px;
  position: relative;
}
#contact-me .form-container form input, #contact-me .form-container form textarea {
  outline: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #fff;
  background: transparent;
}
#contact-me .form-container form label {
  cursor: text;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.2s;
}
#contact-me .form-container form input:focus ~ label,
#contact-me .form-container form input:valid ~ label,
#contact-me .form-container form textarea:focus ~ label,
#contact-me .form-container form textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}
#contact-me .form-container form input:hover, #contact-me .form-container form input:focus,
#contact-me .form-container form textarea:hover, #contact-me .form-container form textarea:focus,
#contact-me .form-container form button:hover, #contact-me .form-container form button:focus {
  box-shadow: 0px 0px 5px #fff;
}
#contact-me .form-container form button {
  width: 100%;
  color: #fff;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
