* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif, sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.2rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.wrap .sidenav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #242526;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrap .sidenav a {
  text-decoration: none;
  color: #fff;
}
.wrap .sidenav .nav-title {
  margin-top: 2rem;
  background-color: black;
}
.wrap .sidenav .nav-title h1 {
  font-size: 3rem;
  margin: 0.2rem 0;
  text-transform: uppercase;
}
.wrap .sidenav ul {
  display: flex;
  flex-direction: row;
}
.wrap .sidenav ul li {
  list-style: none;
  padding: 16px;
}
.wrap .sidenav ul a {
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.wrap .sidenav ul a:hover {
  filter: grayscale(0%) opacity(1);
  background: black;
}
.wrap .sidenav ul a i {
  margin-right: 5px;
}
.wrap .sidenav ul a .fa-address-card {
  color: #6649b8;
}
.wrap .sidenav ul a .fa-square-pied-piper {
  color: pink;
}
.wrap .sidenav ul a .fa-code {
  color: lightblue;
}
.wrap .sidenav ul a .fa-graduation-cap {
  color: yellow;
}
.wrap .sidenav ul a .fa-pager {
  color: lightsalmon;
}
.wrap .sidenav .socials {
  font-size: 25px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  word-spacing: 5px;
}
.wrap .sidenav .socials a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1px) and (max-width: 575px) {
  .wrap .sidenav {
    width: 100vw;
    height: 5rem;
    bottom: 0;
    top: auto;
  }
  .nav-title {
    display: none;
  }
  .nav-text {
    display: none;
  }
  .socials {
    display: none;
  }
  .wrap .page-content {
    width: 90vw;
    margin-left: 0;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .wrap .sidenav {
    width: 100vw;
    height: 5rem;
    bottom: 0;
    top: auto;
  }
  .nav-title {
    display: none;
  }
  .socials {
    display: none;
  }
  .wrap .page-content {
    width: 90vw;
    margin-left: 0;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrap .sidenav {
    width: 20vw;
    height: 100vh;
  }
  .wrap .sidenav ul {
    flex-direction: column;
  }
  .wrap .page-content {
    width: 95vw;
    margin-left: 20vw;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wrap .sidenav {
    width: 20vw;
    height: 100vh;
  }
  .wrap .sidenav ul {
    flex-direction: column;
  }
  .wrap .page-content {
    width: 80vw;
    margin-left: 20vw;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .wrap .sidenav {
    width: 20vw;
    height: 100vh;
  }
  .wrap .sidenav ul {
    flex-direction: column;
  }
  .wrap .page-content {
    width: 80vw;
    margin-left: 20vw;
  }
  .wrap section {
    height: 100vh;
    padding-left: 30px;
    padding-top: 10px;
  }
}
#my-portfolio {
  height: 200vh;
  margin-bottom: 100px;
}
#my-portfolio .card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;
}
#my-portfolio .card-wrap .card {
  width: 15rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}
#my-portfolio .card-wrap .card:hover {
  transform: translateY(-20px);
}
#my-portfolio .card-wrap .card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
}
#my-portfolio .card-wrap .card .card-info {
  padding: 20px;
}
#my-portfolio .card-wrap .card .card-info h2 {
  margin-bottom: 10px;
}
#my-portfolio .card-wrap .card .card-info p {
  margin-bottom: 20px;
}
#my-portfolio .card-wrap .card .card-btn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: purple;
}

/*# sourceMappingURL=style.css.map */
