//=================================//
//              MIXINS        
//=================================//




//==========================//
//     TRANSPARENT  BTNS   
//==========================//
@mixin transpbtn {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
      cursor: pointer;
      transform: scale(1.2);
      box-shadow: 0px 0px 5px #fff;
  }
}




//=================================//
//          MEDIA QUERIES       
//=================================//


@mixin mq($breakpoint) {
  //======== X-SMALL 1 TO 567PX ========//
    @if $breakpoint == "x-small" {
      @media (min-width: $break--xs) and (max-width: $break--sml) {
        @content;
      }
      //======== SMALL 567PX - 768PX ========//
    } @else if $breakpoint == "small" {
      @media (min-width: #{$break--sml}) and (max-width: $break--med) {
        @content;
      }
      //======== MEDIUM 768PX to 992px  ========//
    } @else if $breakpoint == "medium" {
      @media (min-width: #{$break--med}) and (max-width: $break--l) {
        @content;
      }
      //======== LARGE 992PX to 2000px========//
    } @else if $breakpoint == "large" {
      @media (min-width: #{$break--l}) and (max-width: $break--xl) {
        @content;
      }
      //======== X-LARGE 1200PX+ ========//
    } @else if $breakpoint == "x-large" {
      @media (min-width: #{$break--xl}) {
        @content;
      }
    } @else {
      @error "#{$breakpoint} isn't a valid media query size!";
    }
  }

