//=================================//
//           BASE STYLES        
//=================================//

* {
    // font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif, sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,.1), purple), 
    url("../img/sunset-mountain-rok-romih.jpg");  

    &::-webkit-scrollbar {
        width: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    &::-webkit-scrollbar-thumb {
        background: #6649b8;
    }



}



    #about-me, section {
        // background-color: rgba($color: #fff, $alpha: 0.3);
    }



