//=================================//
//          STICKY SIDEBAR         
//=================================//
.wrap {
    height: 100%;
    width: 100%;
}


.sidenav {
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    
    @media (width < $break--med){
        background-color: purple;
        justify-content: flex-start;
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
    }

    @mixin vw-vh-op {
        width: 20vw;
        height: 100vh;
        opacity: 0.8;
    }
    @include mq(medium){
        @include vw-vh-op;
    }
    @include mq(large){
        @include vw-vh-op;
    }
    @include mq(x-large){
        @include vw-vh-op;
        column-gap: 50px;
    }

        //button
        button {
            padding: 4px 0px 0px 8px;
            border: none;
            background: none;

            i {
                color: #fff;
                font-size: 2rem;
            }
    
            @media (width >= $break--med){
                display: none;
            }
        }
    
        .sidenav-close{
            display: flex;
        }

    a {
        text-decoration: none;
        color: #fff;
    }

    .nav-title {
        margin-top: 2rem;
        border-bottom: 1px solid white;

        
        h1 {
            font-size: 5rem;
            margin: 0.2rem 0;
            text-transform: uppercase;
            
        }

    }


    ul {
        display: flex;
        padding-top: 10px;
        flex-direction: column;

        @media (width < $break--med){
            padding-left: 19px;
        }

        @include mq(medium){ 
            // flex-direction: column;
        }

        @include mq(large){
            // flex-direction: column;
    }

        @include mq(x-large){
                // flex-direction: column;
        }

        li {
            list-style: none;
            text-wrap: nowrap;
            padding: 16px;
        }

        a {
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);

        &:hover {
            filter: grayscale(0%) opacity(1);
            // background: black;
            border: 1px solid #fff;
            box-shadow: 0px 0px 5px #fff; 
            padding: 10px;
            border-radius: 20px;
        }

            i {
                margin-right: 5px;
            }

            .fa-address-card {
                color: lightblue;
            }

            .fa-square-pied-piper {
                color: pink;
            }

            .fa-code {
                color: lightblue;
            }

            .fa-graduation-cap {
                color: pink;
            }

            .fa-pager {
                color: lightblue;
            }
    }
    }

    //=== SOCIALS ===//
    .socials {
        font-size: 25px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translate(-50%);
        word-spacing: 5px;

        @media (width < $break--med ){
            left: 0;
            font-size: 20px;
            transform: translate(130%);
        }


        @include mq(medium){
            top: auto;
            bottom: -50px;
        }
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}





//==== PAGE CONTENT 

    .wrap .page-content {

        @include mq(medium){
            width: 95vw;
            margin-left: 20vw;
        }

        @include mq(large){
            width: 80vw;
            margin-left: 20vw;
        }

        @include mq(x-large){
            width: 80vw;
            margin-left: 20vw;
        }
    }


//==== INDIVIDUAL PAGE SECTIONS
.wrap section {
    padding-top: 30px;
    padding-bottom: 80px;

    @include mq(small) {
        padding-top: 10px;
    }

    @include mq(medium) {
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }

    @include mq(large){
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }
    
    @include mq(x-large){
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }
}



