//=================================//
//          STICKY SIDEBAR         
//=================================//

.wrap .sidenav {
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    // background-color: rgba($color: #fff, $alpha: 0.1);
    // border-radius: 80px;



    a {
        text-decoration: none;
        color: #fff;
    }

    .nav-title {
        margin-top: 2rem;
        // background-color: black;
        
        h1 {
            font-size: 3rem;
            margin: 0.2rem 0;
            text-transform: uppercase;
        }

    }



    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            padding: 16px;
        }

        a {
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);

        &:hover {
            filter: grayscale(0%) opacity(1);
            // background: black;
            border: 1px solid #fff;
            box-shadow: 0px 0px 5px #fff; 
            padding: 10px;
            border-radius: 20px;
        }

            i {
                margin-right: 5px;
            }

            .fa-address-card {
                color: lightblue;
            }

            .fa-square-pied-piper {
                color: pink;
            }

            .fa-code {
                color: lightblue;
            }

            .fa-graduation-cap {
                color: pink;
            }

            .fa-pager {
                color: lightblue;
            }
       }
    }

    //=== SOCIALS ===//
    .socials {
        font-size: 25px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translate(-50%);
        word-spacing: 5px;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

// .wrap section {
//     height: 100vh auto;
// }




//=================================//
//       RESPONSIVE SIDE NAV       
//=================================//

//======== X-SMALL 1 TO 567PX ========//
@include mq(x-small){
    .wrap .sidenav {
        width: 100vw;
        height: 5rem;
        bottom: 0;
        top: auto;
    }

    .nav-title {
        display: none;
    }

    .nav-text {
        display: none;
    }

    .socials {
        display: none;
    }

    .wrap .page-content {
        width: 90vw;
        margin-left: 0;
    }

    .wrap section {
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }
}

//======== SMALL 567PX ========//

@include mq(small) {
    .wrap .sidenav {
        width: 100vw;
        height: 5rem;
        bottom: 0;
        top: auto;
    }

    .nav-title {
        display: none;
    }

    .nav-text {
        // display: none;
    }

    .socials {
        display: none;
    }

    .wrap .page-content {
        width: 90vw;
        margin-left: 0;
    }

    .wrap section {
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }
}


//======== MEDIUM 768PX ========//
@include mq(medium)  {
    .wrap .sidenav {
        width: 20vw;
        height: 100vh;
        opacity: 0.8;

        ul {
            flex-direction: column;
        }
    }
 
    .wrap .page-content {
        width: 95vw;
        margin-left: 20vw;
    }

    .wrap section {
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }
}

//======== LARGE 992PX ========//

@include mq(large) {
    .wrap .sidenav {
        width: 20vw;
        height: 100vh;
        opacity: 0.8;

        ul {
            flex-direction: column;
        }
    }


        .wrap .page-content {
            width: 80vw;
            margin-left: 20vw;
        }
    
        .wrap section {
            height: 100vh;
            padding-left: 30px;
            padding-top: 10px;
        }
}

//======== X-LARGE 1200PX ========//

@include mq(x-large) {
    .wrap .sidenav {
        width: 20vw;
        height: 100vh;
        opacity: 0.8;
        
        ul {
            flex-direction: column;
        }
    }


    .wrap .page-content {
        width: 80vw;
        margin-left: 20vw;
    }

    .wrap section {
        height: 100vh;
        padding-left: 30px;
        padding-top: 10px;
    }

}


