//=================================//
//            BANNER        
//=================================//

#banner {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    // background-image: linear-gradient(rgba(0,0,0,.1), 
    // rgba(purple, 0.7)), url(../img/japan-night-pexels-pixabay.jpg);
    // background-image: url(../img/mountains-eberhard-grossgasteiger.jpg);
    position: relative;

    .parallax1 {
        position: absolute;
        bottom: -100px;
        width: 1500px;
        right: 0;
        z-index: 19;
    }
    .parallax2 {
        position: absolute;
        bottom: -100px;
        width: 1500px;
        right: 0;
        z-index: 18;
    }
    .parallax3 {
        position: absolute;
        bottom: -100px;
        width: 1500px;
        right: 0;
        z-index: 17;
    }
    .sky {
        position: absolute;
        bottom: 250px;
        width: 2100px;
        right: 0;
        z-index: 17;
    }

    .shadow{
        position: absolute;
        bottom: 100%;
        height: 300px;
        width: 100%;
        left: 0;
        z-index: 20;
        background: linear-gradient(to top, #151515, transparent);
    }


    .banner-text {
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // text-transform: uppercase;


        .banner-name {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: 'poppins', "Quicksand", sans-serif, Arial, serif; 
        }

        h1 {
            margin: 0 0.5em;
            font-size: 90px;
            letter-spacing: 0.2rem;
            opacity: 0.8;
            z-index: 30;

            &.typewrite{
                color: #2a342a;
                position: relative;

                &::after{
                    content: "";
                    width: 1px;
                    height: 100%;
                    margin-left: 0.5rem;
                    border: 5px solid #fff; 
                    animation: blink 1s infinite; //Implement blink effect on loop
                }
                //Type bar blink effect
                @keyframes blink { 
                    0% { opacity: 0; }
                    100% { opacity: 1; }
                }
            }
        }
    }


    .banner-btns {
        margin-top: 0px;

        button {
            margin: 0 12px;
           @include transpbtn
        }
    }

}
