//=================================//
//          CODE EXAMPLES 
//=================================//


#code-examples {
    height: auto;
    width: 100vw;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;


    & > h1 {
        font-size: 55px;
        opacity: 0.8;
        padding-bottom: 20px;
    }

    h2 {
        padding: 100px 0;
        text-align: center;
        align-self: center;
    }

    button {
        @include transpbtn
    }

}