//=================================//
//            PORTFOLIO        
//=================================//

.card-wrap {
    display: flex;
    width: 70%;
    justify-content: space-around;

    .card {
        width: 280px;
        height: 360px;
        position: relative;
        display: flex;

    }
}