//=================================//
//           SCION SCHEME    
//=================================//

#scs-scheme {
    height: auto;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;

    .slide-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        .scs-slide{
            height: 400px;
            display: flex;
            flex-wrap: nowrap;
            // align-items: center;
            justify-content: start;

            input {
                display: none;

                &:checked + label {
                    width: 600px;
                }
            }

            .slide-card {
                width: 80px;
                cursor: pointer;
                overflow: hidden;
                border-radius: 1.75rem;
                background-size: cover;
                margin: 0 10px;
                border-radius: 2rem;
                display: flex;
                align-items: flex-end;
                transition: .6s cubic-bezier(28,-0.3,0,.99);
                box-shadow: 0px 10px 30px -5px rgba(0,0,0,.8);

                .row {
                    color: #fff;
                    display: flex;
                    flex-wrap: nowrap;

                    .icon {
                        color: #fff;
                        width: 50px;
                        margin: 15px;
                        display: flex;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        background-color: #223;
                    }

                    .slide-text {
                        opacity: 0;
                        height: 80px;
                        width: 520px;
                        display: flex;
                        overflow: hidden;
                        flex-direction: column;
                        justify-content: center;
                        transform: translateY(30px);
                        transition-delay: .3s;
                        transition: all .3 ease;

                        h4 {
                            text-transform: uppercase;
                        }

                        p {
                            color: #b0b0ba;
                            padding-top: 5px;
                        }

                        
                    }
                }
            }

        }

    }

}