//=================================//
//    SCION SCHEME LAPTOP 1200PX   
//=================================//

#scs-scheme {
    height: auto;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}