//=================================//
//          STICKY SIDEBAR         
//=================================//

.wrap .sidenav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #242526;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        text-decoration: none;
        color: #fff;
    }

    .nav-title {
        margin-top: 2rem;
        background-color: black;
        
        h1 {
            font-size: 3rem;
            margin: 0.2rem 0;
            text-transform: uppercase;
        }

    }



    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            padding: 16px;
        }

        a {
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);

        &:hover {
            filter: grayscale(0%) opacity(1);
            background: black;
        }

            i {
                margin-right: 5px;
            }

            .fa-address-card {
                color: #6649b8;
            }

            .fa-square-pied-piper {
                color: pink;
            }

            .fa-code {
                color: lightblue;
            }

            .fa-graduation-cap {
                color: yellow;
            }

            .fa-pager {
                color: lightsalmon;
            }
       }
    }

    //=== SOCIALS ===//
    .socials {
        font-size: 25px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translate(-50%);
        word-spacing: 5px;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

//=================================//
//       RESPONSIVE SIDE NAV       
//=================================//

//======== X-SMALL 1 TO 567PX ========//
@include mq(x-small){
    .wrap .sidenav {
        width: 100vw;
        height: 5rem;
    }

    .nav-title {
        display: none;
    }

    .nav-text {
        display: none;
    }
}


@include mq(small) {
    .wrap .sidenav {
        width: 100vw;
        height: 5rem;
    }

    .nav-title {
        display: none;
    }

    .nav-text {
        // display: none;
    }
}


//======== MEDIUM 768PX ========//
@include mq(medium) {
    .wrap .sidenav {
        width: 20vw;
        height: 100vh;

        ul {
            flex-direction: column;
        }
    }
}

//======== LARGE 992PX ========//
@include mq(large) {
    .wrap .sidenav {
        width: 20vw;
        height: 100vh;

        ul {
            flex-direction: column;
        }
    }
}

//======== X-LARGE 1200PX ========//
@include mq(x-large) {
    .wrap .sidenav {
        width: 20vw;
        height: 100vh;
        
        ul {
            flex-direction: column;
        }
    }

}


